html {
  @apply bg-black;
}

.sticks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
}

.sticks::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.sticks .stick:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.stick {
  background-image: linear-gradient(
    to right,
    transparent,
    transparent 40%,
    #fff 40%,
    #fff 60%,
    transparent 60%,
    transparent 100%
  );
}
